.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 11px;
}

.footer a {
  text-decoration: none;
}

button {
  font-size: 16px;
}

input {
  font-size: 16px;
}
